.category-details {
    max-width: 600px;
    margin: 0 auto;

    // skjul animationen når details er åben
    &[open] &__arrow-down {
        opacity: 0;
    }

    &__summary {
        display: flex;
        padding: 17px 0;
        background-color: rgba(250, 216, 150, 0.516);
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    &__content {
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in-out;
        position: relative;
    }

    &__arrow-down {
        animation-name: arrowAnimateY;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in
    }

    @keyframes arrowAnimateY {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(50%)
        }
    }
}